################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EcommerceSystem/v17/.suo
/.vs/EcommerceSystem/FileContentIndex
/Ecommerce.API/obj/Debug/net8.0
/Ecommerce.Application/obj/Debug/net8.0
/Ecommerce.Infrastructure/obj/Debug/net8.0
/.vs
/Ecommerce.API/obj/Release/net8.0
/Ecommerce.Application/obj/Release/net8.0
/Ecommerce.Infrastructure/obj/Release/net8.0
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.AssemblyInfo.cs
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.AssemblyInfoInputs.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.assets.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.csproj.AssemblyReference.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.GeneratedMSBuildEditorConfig.editorconfig
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.AssemblyInfo.cs
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.AssemblyInfoInputs.cache
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.assets.cache
/Ecommerce.Domain/obj/Release/net8.0
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.AssemblyInfo.cs
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.AssemblyInfoInputs.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.assets.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.csproj.AssemblyReference.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/.vs/EcommerceSystem/v17/.suo
/.vs/EcommerceSystem/v17/DocumentLayout.backup.json
/.vs/EcommerceSystem/v17/DocumentLayout.json
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.API.dll
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.API.exe
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.API.pdb
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.Application.dll

bin/
obj/
out/
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.AssemblyInfo.cs
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.AssemblyInfoInputs.cache
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.assets.cache
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.csproj.AssemblyReference.cache
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.GeneratedMSBuildEditorConfig.editorconfig
/Ecommerce.Application/bin/Debug/net8.0/Ecommerce.Application.deps.json
/Ecommerce.Application/bin/Debug/net8.0/Ecommerce.Application.dll
/Ecommerce.Application/bin/Debug/net8.0/Ecommerce.Application.pdb
/Ecommerce.Application/bin/Debug/net8.0/Ecommerce.Domain.dll
/Ecommerce.Application/bin/Debug/net8.0/Ecommerce.Domain.pdb
/Ecommerce.Application/obj/Debug/net8.0/ref/Ecommerce.Application.dll
/Ecommerce.Application/obj/Debug/net8.0/refint/Ecommerce.Application.dll
/Ecommerce.Application/obj/Debug/net8.0/Ecommerc.C5F54E74.Up2Date
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.csproj.CoreCompileInputs.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.dll
/Ecommerce.Application/obj/project.assets.json
/Ecommerce.Application/obj/Ecommerce.Application.csproj.nuget.dgspec.json
/Ecommerce.Infrastructure/obj/Ecommerce.Infrastructure.csproj.nuget.dgspec.json
/Ecommerce.Infrastructure/obj/project.assets.json
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.Application.pdb
/.vs/EcommerceSystem/DesignTimeBuild/.dtbcache.v2
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.Infrastructure.pdb
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.Infrastructure.dll
/Ecommerce.API/obj/Debug/net8.0/ref/Ecommerce.API.dll
/Ecommerce.API/obj/Debug/net8.0/refint/Ecommerce.API.dll
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.csproj.CoreCompileInputs.cache
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.dll
/Ecommerce.API/obj/Debug/net8.0/apphost.exe
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.genruntimeconfig.cache
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.csproj.FileListAbsolute.txt
/Ecommerce.API/obj/Debug/net8.0/Ecommerce.API.pdb
/Ecommerce.API/obj/Ecommerce.API.csproj.nuget.dgspec.json
/Ecommerce.API/obj/project.nuget.cache
/Ecommerce.API/obj/project.assets.json
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.csproj.FileListAbsolute.txt
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.pdb
/Ecommerce.Application/obj/project.nuget.cache
/Ecommerce.Domain/obj/Ecommerce.Domain.csproj.nuget.dgspec.json
/Ecommerce.Domain/obj/project.assets.json
/Ecommerce.Domain/obj/project.nuget.cache
/Ecommerce.Infrastructure/bin/Debug/net8.0/Ecommerce.Application.dll
/Ecommerce.Infrastructure/bin/Debug/net8.0/Ecommerce.Application.pdb
/Ecommerce.Infrastructure/bin/Debug/net8.0/Ecommerce.Infrastructure.dll
/Ecommerce.Infrastructure/bin/Debug/net8.0/Ecommerce.Infrastructure.pdb
/Ecommerce.Infrastructure/obj/Debug/net8.0/ref/Ecommerce.Infrastructure.dll
/Ecommerce.Infrastructure/obj/Debug/net8.0/refint/Ecommerce.Infrastructure.dll
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.csproj.FileListAbsolute.txt
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.dll
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.csproj.CoreCompileInputs.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.genruntimeconfig.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.pdb
/Ecommerce.Infrastructure/obj/project.nuget.cache
/Ecommerce.Application/obj/Ecommerce.Application.csproj.nuget.g.props
/Ecommerce.Application/obj/Ecommerce.Application.csproj.nuget.g.targets
/Ecommerce.API/bin/Debug/net8.0/Ecommerce.API.deps.json
/Ecommerce.API/obj/Debug/net8.0/ApiEndpoints.json
/Ecommerce.Infrastructure/bin/Debug/net8.0/Ecommerce.Infrastructure.deps.json
