################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EcommerceSystem/v17/.suo
/.vs/EcommerceSystem/FileContentIndex
/Ecommerce.API/obj/Debug/net8.0
/Ecommerce.Application/obj/Debug/net8.0
/Ecommerce.Infrastructure/obj/Debug/net8.0
/.vs
/Ecommerce.API/obj/Release/net8.0
/Ecommerce.Application/obj/Release/net8.0
/Ecommerce.Infrastructure/obj/Release/net8.0
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.AssemblyInfo.cs
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.AssemblyInfoInputs.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.assets.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.csproj.AssemblyReference.cache
/Ecommerce.Application/obj/Debug/net8.0/Ecommerce.Application.GeneratedMSBuildEditorConfig.editorconfig
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.AssemblyInfo.cs
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.AssemblyInfoInputs.cache
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.assets.cache
/Ecommerce.Domain/obj/Release/net8.0
/Ecommerce.Domain/obj/Debug/net8.0/Ecommerce.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.AssemblyInfo.cs
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.AssemblyInfoInputs.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.assets.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.csproj.AssemblyReference.cache
/Ecommerce.Infrastructure/obj/Debug/net8.0/Ecommerce.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
